<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Range Development</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
    <div class="binary-container"></div>
    <button class="login-button">LOGIN</button>
    <div class="container">
        <h1 class="glitch">
            <span class="cyber">Cyber</span>
            <span class="range">Range</span>
            <span class="development">Development</span>
        </h1>
    </div>
    <audio id="background-audio" autoplay loop>
        <source src="/static/Dark-Light[Cropped].mp3" type="audio/mp3">
    </audio>
    <script src="/static/script.js"></script>
</body>
</html>